@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: local("Pretendard Regular"), url("../font/pretendard/Pretendard-Regular.woff2") format("woff2"), url("../font/pretendard/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: local("Pretendard Medium"), url("../font/pretendard/Pretendard-Medium.woff2") format("woff2"), url("../font/pretendard/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: local("Pretendard SemiBold"), url("../font/pretendard/Pretendard-SemiBold.woff2") format("woff2"), url("../font/pretendard/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: local("Pretendard Bold"), url("../font/pretendard/Pretendard-Bold.woff2") format("woff2"), url("../font/pretendard/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  src: local("Pretendard ExtraBold"), url("../font/pretendard/Pretendard-ExtraBold.woff2") format("woff2"), url("../font/pretendard/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 300;
  src: local("GmarketSansB"), local("GmarketSans-Bold"), url("../font/GmarketSansBold.woff2") format("woff2"), url("../font/GmarketSansBold.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 500;
  src: local("GmarketSansM"), local("GmarketSans-Medium"), url("../font/GmarketSansMedium.woff2") format("woff2"), url("../font/GmarketSansMedium.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 700;
  src: local("GmarketSansL"), local("GmarketSans-Light"), url("../font/GmarketSansLight.woff2") format("woff2"), url("../font/GmarketSansLight.woff") format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquare Regular"), url("../font/nanumsquare/NanumSquareR.woff") format("woff"), url("../font/nanumsquare/NanumSquareR.ttf") format("ttf"), url("../font/nanumsquare/NanumSquareR.eot") format("eot");
}
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 700;
  src: local("NanumSquare Bold"), url("../font/nanumsquare/NanumSquareB.woff") format("woff"), url("../font/nanumsquare/NanumSquareB.ttf") format("ttf"), url("../font/nanumsquare/NanumSquareB.eot") format("eot");
}
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 800;
  src: local("NanumSquare ExtraBold"), url("../font/nanumsquare/NanumSquareEB.woff") format("woff"), url("../font/nanumsquare/NanumSquareEB.ttf") format("ttf"), url("../font/nanumsquare/NanumSquareEB.eot") format("eot");
}
@font-face {
  font-family: "NanumSquareAc";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquareAc Regular"), url("../font/nanumsquare/NanumSquare_acR.woff") format("woff"), url("../font/nanumsquare/NanumSquare_acR.ttf") format("ttf"), url("../font/nanumsquare/NanumSquare_acR.eot") format("eot");
}
@font-face {
  font-family: "NanumSquareAc";
  font-style: normal;
  font-weight: 700;
  src: local("NanumSquareAc Bold"), url("../font/nanumsquare/NanumSquare_acB.woff") format("woff"), url("../font/nanumsquare/NanumSquare_acB.ttf") format("ttf"), url("../font/nanumsquare/NanumSquare_acB.eot") format("eot");
}
@font-face {
  font-family: "NanumSquareAc";
  font-style: normal;
  font-weight: 800;
  src: local("NanumSquareAc ExtraBold"), url("../font/nanumsquare/NanumSquare_acEB.woff") format("woff"), url("../font/nanumsquare/NanumSquare_acEB.ttf") format("ttf"), url("../font/nanumsquare/NanumSquare_acEB.eot") format("eot");
}
:root, html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  letter-spacing: -0.025em;
  word-break: break-all;
}

body *:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: auto;
  min-height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -webkit-overflow-scrolling: touch;
  background: transparent;
  -webkit-text-size-adjust: 100%; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: 100%; /* IE */
  -moz-text-size-adjust: 100%; /* 파이어폭스 */
  -o-text-size-adjust: 100%; /* 오페라 구버전 */
  text-size-adjust: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, div, fieldset, p, span {
  font-size: 1.4rem;
  font-family: "Pretendard", sans-serif;
  color: #333;
  font-weight: 400;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  background-color: inherit;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  overflow: visible;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, input[type=submit] {
  cursor: pointer;
  pointer-events: auto;
  text-decoration: none;
}

button:focus {
  outline: none;
}

a:visited, a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

caption span, legend {
  overflow: hidden;
  position: absolute;
  left: -9999px;
}

img {
  width: 100%;
  vertical-align: top;
}

input, select {
  font-family: "Pretendard", sans-serif;
  vertical-align: middle;
  border-radius: 0;
}

select {
  border: 0 none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table {
  table-layout: fixed;
  width: 100%;
}

th, td,
strong, span, em, i {
  font-style: normal;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

input {
  font-size: 1.6rem;
  color: #333;
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-tap-highlight-color: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0 none;
  line-height: 1.125;
}
input:focus {
  outline: none;
}
input::-webkit-input-placeholder {
  font-size: inherit;
  color: #ccc;
}
input::-moz-placeholder {
  font-size: inherit;
  color: #ccc;
}
input:-ms-input-placeholder {
  font-size: inherit;
  color: #ccc;
}
input::-ms-input-placeholder {
  font-size: inherit;
  color: #ccc;
}
input::placeholder {
  font-size: inherit;
  color: #ccc;
}
input::-webkit-textfield-decoration-container {
  height: initial !important;
}

input[type=text]:disabled, input[type=tel]:disabled, input[type=number]:disabled {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ccc;
  background: #fff;
  opacity: 1;
}
input[type=password] {
  font-family: "Noto Sans KR", sans-serif !important;
  font-weight: 400;
  margin-bottom: 4px;
}
input[type=password]::-webkit-input-placeholder {
  font-family: "Pretendard", sans-serif !important;
  margin-bottom: 0;
}
input[type=password]::-moz-placeholder {
  font-family: "Pretendard", sans-serif !important;
  margin-bottom: 0;
}
input[type=password]:-ms-input-placeholder {
  font-family: "Pretendard", sans-serif !important;
  margin-bottom: 0;
}
input[type=password]::-ms-input-placeholder {
  font-family: "Pretendard", sans-serif !important;
  margin-bottom: 0;
}
input[type=password]::placeholder {
  font-family: "Pretendard", sans-serif !important;
  margin-bottom: 0;
}

textarea {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  overflow: auto;
  border: 0 none;
  border-radius: 0;
}
textarea::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #c6c6c6;
}
textarea::-moz-placeholder {
  font-size: 1.6rem;
  color: #c6c6c6;
}
textarea:-ms-input-placeholder {
  font-size: 1.6rem;
  color: #c6c6c6;
}
textarea::-ms-input-placeholder {
  font-size: 1.6rem;
  color: #c6c6c6;
}
textarea::placeholder {
  font-size: 1.6rem;
  color: #c6c6c6;
}
textarea::-webkit-scrollbar {
  display: none;
}

/**********************************

	normallize 

**********************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

/******************

	Links

******************/
a {
  background-color: transparent;
}
a:active, a:focus, a:hover {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/****************** 

	Text-level semantics

******************/
abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/******************

	Embedded content

******************/
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/******************

	Grouping content

******************/
figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/******************

	Forms

******************/
button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

optgroup {
  font-weight: bold;
}

/****************** 

	Tables

******************/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table td, table th {
  padding: 0;
}

input[type=text]::-ms-clear, input[type=file]::-ms-clear, input[type=num]::-ms-clear, input[type=tel]::-ms-clear {
  display: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}/*# sourceMappingURL=spay_reset.css.map */